---
layout: default
title: "Publications: Satoki Masuda"
description: "Journal articles and conference presentations of Satoki Masuda."
lang: "en"
content_class: "publications-content"
---
<h1>Publications</h1>
<section>
    <h2>Journal Articles</h2>
    <ol>
    {% for pub in site.data.publications.journals %}
        <li{% if pub.id %} id="{{ pub.id }}"{% endif %}>
        {% if pub.title_jp %}
            {{ pub.authors_jp }} ({{ pub.year }}). <a href="{{ pub.doi | default: '#' }}" target="_blank">{{ pub.title_jp }}</a>. {{ pub.journal_jp }}.<br>
            {{ pub.authors_en }} ({{ pub.year }}). <a href="{{ pub.doi | default: '#' }}" target="_blank">{{ pub.title_en }}</a>. {{ pub.journal_en }}.
        {% else %}
            {{ pub.authors_en }} ({{ pub.year }}). <a href="{{ pub.doi | default: '#' }}" target="_blank">{{ pub.title_en }}</a>. {{ pub.journal_en }}.
        {% endif %}
        {% if pub.links %}
            <br>
            {% if pub.links.paper %}<a href="{{ pub.links.paper }}" title="Paper" target="_blank"><i class="fa-regular fa-file-lines"></i></a>{% endif %}
            {% if pub.links.slides %}<a href="{{ pub.links.slides }}" title="Slides" target="_blank"><i class="fa-brands fa-speaker-deck"></i></a>{% endif %}
            {% if pub.links.code %}<a href="{{ pub.links.code }}" title="Code" target="_blank"><i class="fab fa-github"></i></a>{% endif %}
            {% if pub.links.video %}<a href="{{ pub.links.video }}" title="Video" target="_blank"><i class="fa fa-video"></i></a>{% endif %}
        {% endif %}
        </li>
    {% endfor %}
    </ol>
</section>


<section>
    <h2>Preprints</h2>
    <ol>
    {% for pre in site.data.publications.preprints %}
        <li>{{ pre.authors_en }} ({{ pre.year }}). {{ pre.title_en }}{% if pre.note %} <em>{{ pre.note }}</em>{% endif %}.</li>
    {% endfor %}
    </ol>
</section>

<section>
    <h2>Conference Presentations (Peer-Reviewed)</h2>
    <ol>
    {% for conf in site.data.publications.conferences_peer %}
        <li{% if conf.id %} id="{{ conf.id }}"{% endif %}></li>
        {{ conf.authors_en }} ({{ conf.date }}). {{ conf.title_en }}, {{ conf.conference }}.
        {% if conf.links and conf.links.slides %}
            <br><a href="{{ conf.links.slides }}" title="Slides" target="_blank"><i class="fa-brands fa-speaker-deck"></i></a>
        {% endif %}
        </li>
    {% endfor %}
    </ol>
</section>

<section>
    <h2>Conference Presentations (Non-Peer-Reviewed)</h2>
    <ol>
    {% for conf in site.data.publications.conferences_nonpeer %}
        <li{% if conf.id %} id="{{ conf.id }}"{% endif %}></li>
        {{ conf.authors_jp }}: {{ conf.title_jp }}, {{ conf.conference_jp }}, {{ conf.date }}.
        {% if conf.links and conf.links.slides %}
            <br><a href="{{ conf.links.slides }}" title="Slides" target="_blank"><i class="fa-brands fa-speaker-deck"></i></a>
        {% endif %}
        </li>
    {% endfor %}
    </ol>
</section>

<section>
    <h2>Presentations</h2>
    <ol>
    {% for talk in site.data.publications.presentations %}
        <li>
        {% if talk.title_jp %}
            {{ talk.title_jp }}, {{ talk.event_jp }}, {{ talk.date }}.
        {% else %}
            {{ talk.title_en }}, {{ talk.event_en }}, {{ talk.date }}.
        {% endif %}
        {% if talk.links and talk.links.slides %}
            <br><a href="{{ talk.links.slides }}" title="Slides" target="_blank"><i class="fa-brands fa-speaker-deck"></i></a>
        {% endif %}
        </li>
    {% endfor %}
    </ol>
</section>

<section>
    <h2>Awards</h2>
    <ul>
    {% for award in site.data.publications.awards %}
        <li><b>{{ award.name_jp }}</b><br>{{ award.desc_jp }}</li>
    {% endfor %}
    </ul>
</section>

<section>
    <h2>Fellowships</h2>
    <ul>
    {% for fellow in site.data.publications.fellowships %}
        {% if fellow.name_jp %}
            <li><b>{{ fellow.name_jp }}</b><br>by {{ fellow.provider_jp }}<br>"{{ fellow.title_jp }}"<br>
            <b>{{ fellow.name_en }}</b><br>by {{ fellow.provider_en }}<br>"{{ fellow.title_en }}"<br>{{ fellow.period }}</li>
        {% else %}
            <li><b>{{ fellow.name_en }}</b><br>by {{ fellow.provider_en }}<br>"{{ fellow.title_en }}"<br>{{ fellow.period }}</li>
        {% endif %}
    {% endfor %}
    </ul>
</section>
