body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

header {
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

header h1 span:lang(ja) {
    display: inline-block; /* Display inline for side-by-side positioning */
    margin-right: 10px; /* Optional: Adjust spacing between names */
    font-family: 'Kiwi Maru', serif; /* Font for Japanese text */
}

header h1 span:lang(en) {
    display: inline-block; /* Display inline for side-by-side positioning */
    margin-right: 10px; /* Optional: Adjust spacing between names */
    font-family: 'Montserrat', sans-serif; /* Font for English text */
}

.header-title-link {
    text-decoration: none; /* アンダーラインを削除 */
    color: inherit; /* 親要素から色を継承 */
}

.header-title-link:hover {
    text-decoration: underline; /* ホバー時にアンダーラインを表示 */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav li {
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding-left: 5px;
}

section {
    margin-bottom: 40px;
}

footer {
    padding: 20px;
    text-align: center;
    font-size: 0.8em;
}

main {
    margin: 0 auto;
    padding: 20px;
}

.fa {
    margin-right: 8px;
    color: #333;
}

.social-links {
    text-align: center;
    padding: 20px;
}

.social-links a {
    margin: 0 10px;
    color: #333; /* Icon color */
    font-size: 24px; /* Icon size */
    text-decoration: none;
}

.social-links a:hover {
    color: #007bff; /* Color on hover */
}


.back-to-top {
    display: inline-block;
    padding: 10px;
    background-color: #f8f8f8; /* Example background color */
    color: #000; /* Example text color */
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Optionally, add hover effect */
.back-to-top:hover {
    background-color: #e7e7e7;
}


/* Mobile-first approach: full width on smaller screens */
.home-content, .research-content, .publications-content, .award-content {
    width: 80%;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .home-content {
        width: 50%; /* Example width for Home */
    }
    .research-content {
        width: 50%; /* Example width for Research */
    }
    .publications-content {
        width: 60%; /* Example width for Publications */
    }
    .award-content {
        width: 70%; /* Example width for Awards */
    }
    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav li {
        text-align: center;
        padding: 15px;
    }
}