<header>
    <a href="{{ '/' | relative_url }}" class="header-title-link">
        <h1><span lang="ja">増田 慧樹</span> | <span lang="en">Satoki MASUDA</span></h1>
    </a>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <label for="nav-toggle" class="hamburger"><i class="fas fa-bars"></i></label>
    <nav>
        <ul>
            <li><a href="{{ '/' | relative_url }}"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="{{ '/research.html' | relative_url }}"><i class="fa fa-flask"></i> Research</a></li>
            <li><a href="{{ '/output.html' | relative_url }}"><i class="fa fa-book"></i> Output</a></li>
            <li><a href="{{ '/project.html' | relative_url }}"><i class="fa-solid fa-person-running"></i> Project</a></li>
            <li><a href="{{ '/codes.html' | relative_url }}"><i class="fa-solid fa-rocket"></i> Codes</a></li>
        </ul>
    </nav>
</header>
